################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Blackjack/FileContentIndex
/.vs/
/__pycache__/
